<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="NHÀ SÁCH TRỰC TUYẾN H3S"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiTapLon"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" ></activity>
        <activity android:name=".GioHangActivity" ></activity>
        <activity android:name=".MainActivity" ></activity>
        <activity android:name=".InforSach" ></activity>
        <activity android:name=".HoaDonActivity" ></activity>
        <activity android:name=".LichSuMuaHangActivity" ></activity>
    </application>

</manifest>